.header {
  padding: 120px 0;
  color: #ffffff;
  text-shadow: 5px 5px 5px #000000;
  background-image: url(../../utils/images/Bg_Header1.png);
  background-size: cover;
  width: 100%;
  text-align: center;
  border-bottom: 8px solid darkred;
  margin-bottom: 10px;
  margin-top: -30px;
  font-family: Reem Kufi;
}
